// Transpila o código JavaScript para oferecer suporte
// a navegadores usados ​​em mais de 1% da participação no mercado global. 
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%"]
        }
      }
    ]
  ]
}
